.wallet-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: black;
}

.wallet-box {
  background: #111;
  padding: 40px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  color: white;
}

.balance {
  font-size: 28px;
  margin: 20px 0;
  font-weight: bold;
}

.wallet-box input {
  width: 100%;
  padding: 10px;
  border: 1px solid #444;
  background: black;
  color: white;
  border-radius: 4px;
}

.wallet-box button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  background: white;
  color: black;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}